@mixin boxshadow {
    -webkit-box-shadow: 0px 0px 36px 12px rgba(255,255,255,0.18); 
    box-shadow: 0px 0px 36px 12px rgba(255,255,255,0.18);
}

@mixin flex__column {
    display: flex;
    flex-direction: column;
}